@{
    string viewPath = Request.RawUrl;
    string viewName = viewPath.Substring(viewPath.LastIndexOf('/') + 1);

    string[] settingsViews = new string[] { "EditBasicInfo", "ShippingAdresses", "EditPassword", "EditAvatar" };

    if (settingsViews.Contains(viewName))
    {
        viewName = "Settings";
    }

    Dictionary<string, string> activeView = new Dictionary<string, string>();

    activeView.Add("Account", string.Empty);
    activeView.Add("AddOffer", string.Empty);
    activeView.Add("AddProductSet", string.Empty);
    activeView.Add("OrderHistory", string.Empty);
    activeView.Add("Communicator", string.Empty);
    activeView.Add("Settings", string.Empty);

    activeView[viewName] = "active";
}

<nav class="navbar-dark bg-dark navbar-vertical show">

    <ul class="side-nav">
        <li class="links">
            <a href="@Url.Action("Account", "UserPanel")" class="@activeView["Account"]">
                <div class="icon"><i class="fa fa-user amber-text "></i></div>
                <div class="title">Profil</div>
            </a>
        </li>
        <li class="links">
            <a href="@Url.Action("AddOffer", "UserPanel")" class="@activeView["AddOffer"]">
                <div class="icon"><i class="fa fa-plus"></i></div>
                <div class="title">Oferta</div>
            </a>
        </li>
        <li class="links">
            <a href="@Url.Action("AddProductSet", "UserPanel")" class="@activeView["AddProductSet"]">
                <div class="icon"><i class="fa fa-plus"></i></div>
                <div class="title">Zestaw</div>
            </a>
        </li>
        <li class="links">
            <a href="@Url.Action("OrderHistory", "UserPanel")" class="@activeView["OrderHistory"]">
                <div class="icon"><i class="fas fa-file-alt"></i></div>
                <div class="title">Historia</div>
            </a>
        </li>
        <li class="links">
            <a href="@Url.Action("Communicator", "UserPanel")" class="@activeView["Communicator"]">
                <div class="icon"><i class="fas fa-envelope"></i></div>
                <div class="title">Wiadomości</div>
            </a>
        </li>
        <li class="links">
            <a href="@Url.Action("EditBasicInfo", "UserPanel")" class="@activeView["Settings"]">
                <div class="icon"><i class="fas fa-cog"></i></div>
                <div class="title">Ustawienia</div>
            </a>
        </li>
        <li class="links">
            <a href="@Url.Action("Logout", "User")">
                <div class="icon"><i class="fa fa-reply"></i></div>
                <div class="title">Wyloguj</div>
            </a>
        </li>
    </ul>
</nav>
