@{
    string viewPath = Request.RawUrl;
    string viewName = viewPath.Substring(viewPath.LastIndexOf('/') + 1);

    string[] settingsViews = new string[] { "EditBasicInfo", "ShippingAdresses", "EditPassword", "EditAvatar" };

    if (settingsViews.Contains(viewName))
    {
        viewName = "Settings";
    }

    Dictionary<string, string> activeView = new Dictionary<string, string>();

    activeView.Add("Account", string.Empty);
    activeView.Add("Offers", string.Empty);
    activeView.Add("Bundles", string.Empty);
    activeView.Add("OrderHistory", string.Empty);
    activeView.Add("Communicator", string.Empty);
    activeView.Add("Settings", string.Empty);

    activeView[viewName] = "sidebar-active-element";

    //System.Diagnostics.Debug.WriteLine("ViewPath: " + viewPath);
    //System.Diagnostics.Debug.WriteLine("ViewName: " + viewName);
    //System.Diagnostics.Debug.WriteLine("ActiveView: " + activeView[viewName]);
    //System.Diagnostics.Debug.WriteLine("AddOfer: " + activeView["AddOffer"]);
}

<nav class="navbar-dark bg-dark navbar-vertical show">
    <ul class="side-nav">
        <li class="links @activeView["Account"]">
            <a href="@Url.Action("Account", "UserPanel")">
                <div class="icon"><i class="fa fa-user amber-text " style="color: white;"></i></div>
                <div class="title">Profil</div>
            </a>
        </li>
        <li class="links @activeView["Offers"]">
            <a href="@Url.Action("Offers", "UserPanel")">
                <div class="icon"><i class="fa fa-plus" style="color: white;"></i></div>
                <div class="title">Twoje oferty</div>
            </a>
        </li>
        <li class="links @activeView["Bundles"]">
            <a href="@Url.Action("Bundles", "UserPanel")">
                <div class="icon"><i class="fa fa-plus" style="color: white;"></i></div>
                <div class="title">Twoje zestawy</div>
            </a>
        </li>
        <li class="links @activeView["OrderHistory"]">
            <a href="@Url.Action("OrderHistory", "UserPanel")">
                <div class="icon"><i class="fas fa-file-alt" style="color: white;"></i></div>
                <div class="title">Historia</div>
            </a>
        </li>
        <li class="links @activeView["Communicator"]">
            <a href="@Url.Action("Communicator", "UserPanel")">
                <div class="icon"><i class="fas fa-envelope" style="color: white;"></i></div>
                <div class="title">Wiadomości</div>
            </a>
        </li>
        <li class="links @activeView["Settings"]">
            <a href="@Url.Action("EditBasicInfo", "UserPanel")">
                <div class="icon"><i class="fas fa-cog" style="color: white;"></i></div>
                <div class="title">Ustawienia</div>
            </a>
        </li>
        <li class="links">
            <a href="@Url.Action("Logout", "User")">
                <div class="icon"><i class="fa fa-reply"></i></div>
                <div class="title">Wyloguj</div>
            </a>
        </li>
    </ul>
</nav>
