<div class="wrapper">
    <div class="sidebar">
        <div class="bg_shadow"></div>
        <div class="sidebar__inner">
            <div class="close">
                <i class="fas fa-times"></i>
            </div>

            <ul class="siderbar_menu">
                <li>
                    <a href="@Url.Action("Account", "UserPanel")">
                        <div class="icon"><i class="fa fa-user"></i></div>
                        <div class="title">Profil</div>

                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AddOffer", "UserPanel")">
                        <div class="icon"><i class="fa fa-plus"></i></div>
                        <div class="title">Dodaj produkt</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("OrderHistory", "UserPanel")">
                        <div class="icon"><i class="fas fa-file-alt"></i></div>
                        <div class="title">Sprzedaż</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("OrderHistory", "UserPanel")">
                        <div class="icon"><i class="fas fa-history"></i></div>
                        <div class="title">Historia</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Communicator", "UserPanel")">
                        <div class="icon"><i class="fas fa-envelope"></i></div>
                        <div class="title">Wiadomości</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("EditBasicInfo", "UserPanel")">
                        <div class="icon"><i class="fas fa-cog"></i></div>
                        <div class="title">Ustawienia</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Logout", "User")">
                        <div class="icon"><i class="fa fa-reply"></i></div>
                        <div class="title">Wyloguj</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
