@model ShopApp.ViewModels.User.AccountViewModel
@{
    ViewBag.Title = "";

   
        if (Session["userId"] == null)
        {
            Response.Redirect("~/User/Login");
        }
    
}

@Styles.Render("~/bundles/UserPanel")
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
    <div class="sidebar">
        <div class="bg_shadow"></div>
        <div class="sidebar__inner">
            <div class="close">
                <i class="fas fa-times"></i>
            </div>

            <ul class="siderbar_menu">
                <li>
                    <a href="@Url.Action("Account", "UserPanel" )" class="active">
                        <div class="icon"><i class="fa fa-user"></i></div>
                        <div class="title">Profil</div>

                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountAddProduct", "UserPanel" )">
                        <div class="icon"><i class="fa fa-plus"></i></div>
                        <div class="title">Dodaj produkt</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountOrderHistory", "UserPanel" )">
                        <div class="icon"><i class="fas fa-file-alt"></i></div>
                        <div class="title">Sprzedaż</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountOrderHistory", "UserPanel" )">
                        <div class="icon"><i class="fas fa-history"></i></div>
                        <div class="title">Historia</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountMessage", "UserPanel" )">
                        <div class="icon"><i class="fas fa-envelope"></i></div>
                        <div class="title">Wiadomości</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountEdit", "UserPanel" )">
                        <div class="icon"><i class="fas fa-cog"></i></div>
                        <div class="title">Ustawienia</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icon"><i class="fa fa-reply"></i></div>
                        <div class="title">Wyloguj</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>



<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="~/Images/user2.jpg" id="imgProfile" style="width: 100px; height: 100px" class="img-thumbnail" />
                                <div class="middle">
                                    <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                                    <input type="file" style="display: none;" id="profilePicture" name="file" />
                                </div>
                            </div>
                            <div class="userData ml-3">

                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">Witaj @Model.FirstName</h2>

                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true" style="color:black;">Dane</a>
                                </li>
                            </ul>
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">


                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Imię i nazwisko</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @Model.FirstName @Model.LastName
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Data urodzenia</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @Model.BirthDate
                                        </div>
                                    </div>
                                    <hr />


                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Kraj</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @Model.Country
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Miasto</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @Model.City
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Ulica</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @Model.Street
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Numer ulicy</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @Model.StreetNumber
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Kod pocztowy</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @Model.Postcode
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">E-mail</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @Model.Email
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Telefon</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @Model.PhoneNumber
                                        </div>
                                    </div>
                                    <hr />
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>