@model ShopApp.Models.User
@{
    ViewBag.Title = "Konto";
}

@Styles.Render("~/bundles/UserPanel")
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
@Html.Partial("_SideBar")

@{
    string avatarUrl = string.Empty;
    string defaultAvatarUrl = "../../App_Files/Images/UserAvatars/DefaultAvatar.jpg";
    string accountStatus = Model.IsActivated ? "Aktywowane" : "Nieaktywowane";
    string phoneNumber = Model.Phone != null ? Model.Phone : "Brak numeru telefonu";
    string phoneNumberStyle = Model.Phone != null ? string.Empty : "font-style: italic;";
    string statusColorClass = Model.IsActivated ? "text-success" : "text-danger";



    if (Model.AvatarImage != null)
    {
        avatarUrl = Model.AvatarImage.PathToFile;
    }
    else
    {
        avatarUrl = defaultAvatarUrl;
    }
}


<div class="container pl-5 pb-3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">

                                <img src="@avatarUrl" id="imgProfile" style="width: 100px; height: 100px" class="img-thumbnail" />

                                <div class="middle">

                                    <a type="button" class="btn btn-secondary" id="btnChangePicture" href="@Url.Action("Settings", "UserPanel", new { settingPage = 3 })">
                                        Zmień
                                    </a>

                                </div>
                            </div>
                            <div class="userData ml-3">

                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold; word-break:break-all">
                                    Witaj @Model.FirstName
                                </h2>

                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Imię i nazwisko</label>
                                        </div>
                                        <div class="col-md-8 col-6" style="word-break:break-all">
                                            @Model.FirstName @Model.LastName
                                        </div>
                                    </div>

                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Login</label>
                                        </div>
                                        <div id="user-login" class="col-md-8 col-6">@Model.Login</div>
                                    </div>

                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">E-mail</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @Model.Email
                                        </div>
                                    </div>

                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Telefon</label>
                                        </div>
                                        <div class="col-md-8 col-6" style="@phoneNumberStyle">
                                            @phoneNumber
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Data urodzenia</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @(((DateTime)Model.BirthDate).ToShortDateString())
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Data utworzenia</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @(((DateTime)Model.CreationDate).ToShortDateString())
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Status konta</label>
                                        </div>
                                        <div class="col-md-8 col-6 @statusColorClass">
                                            <b>@accountStatus</b>
                                            @if (!Model.IsActivated)
                                            {
                                                <a href="#" onclick="SendActivationEmail();return false;"><i> (Wyślij ponownie link aktywacyjny) </i></a>
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/EmailSender.js"></script>
}