
@model ShopApp.ViewModels.User.AccountViewModel
@{
    ViewBag.Title = "";
}

@Styles.Render("~/bundles/UserPanel")

<div class="wrapper">
    <div class="sidebar">
        <div class="bg_shadow"></div>
        <div class="sidebar__inner">
            <div class="close">
                <i class="fas fa-times"></i>
            </div>

            <ul class="siderbar_menu">
                <li>
                    <a href="@Url.Action("Account", "UserPanel")">
                        <div class="icon"><i class="fa fa-user"></i></div>
                        <div class="title">Profil</div>

                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountAddProduct", "UserPanel")">
                        <div class="icon"><i class="fa fa-plus"></i></div>
                        <div class="title">Dodaj produkt</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountOrderHistory", "UserPanel")">
                        <div class="icon"><i class="fas fa-file-alt"></i></div>
                        <div class="title">Sprzedaż</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountOrderHistory", "UserPanel")">
                        <div class="icon"><i class="fas fa-history"></i></div>
                        <div class="title">Historia</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountMessage", "UserPanel")">
                        <div class="icon"><i class="fas fa-envelope"></i></div>
                        <div class="title">Wiadomości</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountEdit", "UserPanel")" class="active">
                        <div class="icon"><i class="fas fa-cog"></i></div>
                        <div class="title">Ustawienia</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icon"><i class="fa fa-reply"></i></div>
                        <div class="title">Wyloguj</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="container-accout-edit">
                <div class="view-account">
                    <section class="module">
                        <div class="module-inner">
                            <div class="side-bar">
                                <div class="user-info">

                                    <ul class="meta list list-unstyled">
                                        <li class="name">
                                            @Model.FirstName @Model.LastName
                                        </li>
                                    </ul>
                                </div>
                                <nav class="side-menu">
                                    <ul class="nav">
                                        <li class="active"><a href="#"><span class="fa fa-user"></span> Dane osobowe</a></li>

                                    </ul>
                                    <ul class="nav">
                                        <li><a href="@Url.Action("AccountEditContact", "User")"><span class="fas fa-address-book"></span> Dane kontaktowe</a></li>

                                    </ul>
                                    <ul class="nav">
                                        <li><a href="@Url.Action("AccountEditPassword", "User")"><span class="fas fa-key"></span> Zmiana hasła</a></li>

                                    </ul>
                                </nav>

                            </div>
                            <div class="content-panel">
                                @using (Html.BeginForm("EditAccount", "User", FormMethod.Post))
                                {
                                    <fieldset class="fieldset">
                                        <h3 class="fieldset-title">Dane użytkownika</h3>

                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Imię</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Nazwisko</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Data urodzenia</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Kraj</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                                <input class="btn btn-dark" type="submit" value="Zmień ">
                                            </div>
                                        </div>
                                    </fieldset>

                                }
                            </div>
                        </div>
                    </section>
                </div>
            </div>


        </div>
    </div>
</div>
