@model ShopApp.ViewModels.User.AccountViewModel
@{
    if (Session["userId"] == null)
    {
        Response.Redirect("~/User/Login");
    }
    ViewBag.Title = "";
}

@Styles.Render("~/bundles/UserPanel")

<div class="wrapper">
    <div class="sidebar">
        <div class="bg_shadow"></div>
        <div class="sidebar__inner">
            <div class="close">
                <i class="fas fa-times"></i>
            </div>

            <ul class="siderbar_menu">
                <li>
                    <a href="@Url.Action("Account", "UserPanel")">
                        <div class="icon"><i class="fa fa-user"></i></div>
                        <div class="title">Profil</div>

                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountAddProduct", "UserPanel")">
                        <div class="icon"><i class="fa fa-plus"></i></div>
                        <div class="title">Dodaj produkt</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountOrderHistory", "UserPanel")">
                        <div class="icon"><i class="fas fa-file-alt"></i></div>
                        <div class="title">Sprzedaż</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountOrderHistory", "UserPanel")">
                        <div class="icon"><i class="fas fa-history"></i></div>
                        <div class="title">Historia</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountMessage", "UserPanel")">
                        <div class="icon"><i class="fas fa-envelope"></i></div>
                        <div class="title">Wiadomości</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountEdit", "UserPanel")" class="active">
                        <div class="icon"><i class="fas fa-cog"></i></div>
                        <div class="title">Ustawienia</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Logout", "User")">
                        <div class="icon"><i class="fa fa-reply"></i></div>
                        <div class="title">Wyloguj</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="container-accout-edit">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <ul class="meta list list-unstyled">
                            <li class="name">
                                @Model.FirstName @Model.LastName
                            </li>
                        </ul>
                    </div>
                    <nav class="side-menu">
                        <ul class="nav">
                            <li><a href="@Url.Action("AccountEdit", "UserPanel")"><span class="fa fa-user"></span> Dane osobowe</a></li>

                        </ul>
                        <ul class="nav">
                            <li class="active"><a href="@Url.Action("AccountEditContact", "UserPanel")"><span class="fas fa-address-book"></span> Adresy wysyłki</a></li>

                        </ul>
                        <ul class="nav">
                            <li><a href="@Url.Action("AccountEditPassword", "UserPanel")"><span class="fas fa-key"></span> Zmiana hasła</a></li>

                        </ul>
                    </nav>

                </div>
                <div class="content-panel">
                    @using (Html.BeginForm("AccountEditContact", "UserPanel", FormMethod.Post))
                    {
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Dane kontaktowe</h3>
                            @*<div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">E-mail</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="email" class="form-control">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Nowy E-mail</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="email" class="form-control">
                                    </div>
                                </div>*@

                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Miasto</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Ulica</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Numer ulicy/domu</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    @Html.TextBoxFor(m => m.StreetNumber, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Kod pocztowy</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })
                                </div>
                            </div>


                            <hr>
                            <div class="form-group">
                                <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                    <input class="btn btn-dark" type="submit" value="Zmień">
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </section>
    </div>
</div>

