@model IEnumerable<ShopApp.Models.Category>
@{
    ViewBag.Title = "Nowa oferta";
}


@Styles.Render("~/bundles/UserPanel")
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
@Html.Partial("_SideBar")


<div class="container pl-5">
    <div class="row">
        <div class="col-12">
            <div class="use-add-product">

                <ul class="nav nav-tabs m-4 list-inline">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#addOfferMenu">Dodaj produkt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#addBundleMenu">Dodaj zestaw</a>
                    </li>
                </ul>

                <div id="addOfferMenu" class="container tab-panel active">
                    @using (Html.BeginForm("AddOffer", "UserPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="tab-content">
                            <fieldset class="add-produt">

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="Name">Nazwa oferty</label>
                                    <div class="col-md-4">
                                        <input maxlength="60" id="product_name" name="Name" placeholder="Offer name" class="form-control input-md" required="" type="text" />
                                        <small id="descriptionCodeHelp" class="form-text text-muted">Maksymalnie 60 znaków</small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="Description">Opis</label>
                                    <div class="col-md-4">
                                        <textarea maxlength="700" id="product_name_fr" name="Description" placeholder="Description" class="form-control input-md" required=""></textarea>
                                        <small id="descriptionCodeHelp" class="form-text text-muted">Maksymalnie 700 znaków</small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="Category">Kategoria</label>
                                    <div class="col-md-4">
                                        <select id="product_categorie" name="Category" class="form-control">
                                            <option selected>Wybierz kategorie</option>
                                            @{
                                                for (int i = 0; i < Model.Count(); i++)
                                                {
                                                    <option value="@Model.ElementAt(i).CategoryID">@Model.ElementAt(i).CategoryName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="Quantity">Ilość produktu</label>
                                    <div class="col-md-4">
                                        <input id="available_quantity" name="Quantity" placeholder="Product quantity" class="form-control input-md" required="" type="number">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="Price">Cena</label>
                                    <div class="col-md-4">
                                        <input id="product_weight" name="Price" placeholder="Price" class="form-control input-md" required="" type="text">
                                    </div>
                                </div>

                                <div id="images-container">
                                    <div class="form-group">
                                        <i class="fa fa-times del " style="display: none"></i>
                                        <div class="col-sm-4 imgUp mt-4">
                                            <div class="imagePreview">Zdjęcia</div>
                                            <label class="btn btn-outline-warning btn-lg btn-block btn-circle">
                                                <i class="fa fa-plus imgAdd"></i>
                                                <input type="file" multiple class="uploadFile img" value="Upload Photo" name="ProductImage1" style="width: 0px;height: 0px;overflow: hidden;" onchange="loadFile(event)">
                                                @*<script>
                                                            var loadFile = function (event) {
                                                            var output = document.getElementById('output');
                                                            output.src = URL.createObjectURL(event.target.files[0]);
                                                            output.onload = function () {
                                                            URL.revokeObjectURL(output.src) // free memory
                                                            }
                                                        };
                                                    </script>*@
                                            </label>
                                            @*<div class="imagePreview">
                                                  <img id="output" />
                                                </div>*@
                                        </div>
                                    </div>

                                    <div class="form-group" id="imageGroupTemplate" style="display: none">
                                        <i class="fa fa-times del " style="display: none"></i>
                                        <div class="col-sm-4 imgUp mt-4">
                                            <div class="imagePreview"></div>
                                            <label class="btn btn-outline-warning btn-lg btn-block btn-circle">
                                                <i class="fa fa-plus imgAdd"></i>
                                                <input type="file" class="uploadFile img" value="Upload Photo" name="ProductImage2" style="width: 0px;height: 0px;overflow: hidden;">
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                @* DODAWANIE WIELU ZDJĘĆ DO OFERTY*@

                                @*<div class="form-group">
                                        <label class="col-md-4 control-label" for="Images">Zdjęcia</label>
                                        <div class="col-md-4">
                                            <input id="filebutton" name="Images" class="form-control-file input-file" type="file" multiple>
                                        </div>
                                    </div>*@

                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-4">
                                        <input type="submit" value="Dodaj oferte!" class="btn btn-outline-warning mb-3" />
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    }
                </div>

                @*<div id="addBundleMenu" class="container tab-panel">
                        @using (Html.BeginForm("AddOffer", "UserPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                                <div class="tab-content">
                            <fieldset class="add-produt">

                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="Name">Nazwa paczki</label>
                                        <div class="col-md-4">
                                            <input maxlength="60" id="product_name" name="Name" placeholder="Offer name" class="form-control input-md" required="" type="text" />
                                            <small id="descriptionCodeHelp" class="form-text text-muted">Maksymalnie 60 znaków</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="Description">Opis</label>
                                        <div class="col-md-4">
                                            <textarea maxlength="700" id="product_name_fr" name="Description" placeholder="Description" class="form-control input-md" required=""> </textarea>
                                            <small id="descriptionCodeHelp" class="form-text text-muted">Maksymalnie 700 znaków</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="Category">Kategoria</label>
                                        <div class="col-md-4">
                                            <select id="product_categorie" name="Category" class="form-control">
                                                <option selected>Wybierz kategorie</option>
                                                @{
                                                    for (int i = 0; i < Model.Count(); i++)
                                                    {
                                                        <option value="@Model.ElementAt(i).CategoryID">@Model.ElementAt(i).CategoryName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="Quantity">Ilość produktu</label>
                                        <div class="col-md-4">
                                            <input id="available_quantity" name="Quantity" placeholder="Product quantity" class="form-control input-md" required="" type="number">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="Price">Cena</label>
                                        <div class="col-md-4">
                                            <input id="product_weight" name="Price" placeholder="Price" class="form-control input-md" required="" type="text">
                                        </div>
                                    </div>

                                    <div id="images-container">
                                        <div class="form-group">
                                            <i class="fa fa-times del " style="display: none"></i>
                                            <div class="col-sm-4 imgUp mt-4">
                                                <div class="imagePreview">Zdjęcia</div>
                                                <label class="btn btn-outline-warning btn-lg btn-block btn-circle">
                                                    <i class="fa fa-plus imgAdd"></i>
                                                    <input type="file" multiple class="uploadFile img" value="Upload Photo" name="ProductImage1" style="width: 0px;height: 0px;overflow: hidden;" onchange="loadFile(event)">
                                                    @*<script>
                                                var loadFile = function (event) {
                                                    var output = document.getElementById('output');
                                                    output.src = URL.createObjectURL(event.target.files[0]);
                                                    output.onload = function () {
                                                        URL.revokeObjectURL(output.src) // free memory
                                                    }
                                                };
                                            </script>
                                                </label>
                                                @*<div class="imagePreview">
                                            <img id="output" />
                                        </div>
                                            </div>
                                        </div>

                                        <div class="form-group" id="imageGroupTemplate" style="display: none">
                                            <i class="fa fa-times del " style="display: none"></i>
                                            <div class="col-sm-4 imgUp mt-4">
                                                <div class="imagePreview"></div>
                                                <label class="btn btn-outline-warning btn-lg btn-block btn-circle">
                                                    <i class="fa fa-plus imgAdd"></i>
                                                    <input type="file" class="uploadFile img" value="Upload Photo" name="ProductImage2" style="width: 0px;height: 0px;overflow: hidden;">
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    DODAWANIE WIELU ZDJĘĆ DO OFERTY

                                    <div class="form-group">
                                <label class="col-md-4 control-label" for="Images">Zdjęcia</label>
                                <div class="col-md-4">
                                    <input id="filebutton" name="Images" class="form-control-file input-file" type="file" multiple>
                                </div>
                            </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-4">
                                            <input type="submit" value="Dodaj oferte!" class="btn btn-outline-warning mb-3" />
                                        </div>
                                    </div>

                            </fieldset>
                                </div>
                        }
                    </div>
                *@

            </div>
        </div>
    </div>
</div>

