@model IEnumerable<ShopApp.Models.Bundle>
@{
    ViewBag.Title = "Zestawy";
}

@Html.Partial("_SideBar")

@Styles.Render("~/bundles/UserPanel")

<div class="container pl-5">
    <div class="row">
        <div class="col-12">
            <div class="use-add-product pb-3">
                <div class=" row justify-content-center">
                    <div class="row mb-4 mr-1">
                        <div class="col p-0 pt-3 font-weight-bold"> <h3> Stwórz zestaw</h3> </div>
                    </div>
                </div>
                <div class="col-md " style="display: inline-block;">
                    <a class="btn btn-outline-warning" href="@Url.Action("AddBundle", "UserPanel")">Stwórz nowy zestaw!</a>

                    @if (ViewBag.NoOffers != null)
                    {

                        <div class="alert alert-danger alert-dismissible mt-3">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong><i class="fas fa-info-circle"></i></strong> @ViewBag.NoOffers
                        </div>
                    }

                </div>
                <hr>
                <div class="row justify-content-center">
                    <h6>Co to jest zestaw</h6>
                </div>


                <hr>
                @{
                    if (Model.Count() > 0)
                    {
                        <div class="row pl-4 pb-3">
                            <h6>Twoje zestawy: </h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nazwa</th>
                                        <th scope="col">Cena</th>
                                        @*<th scope="col">Obniżka</th>*@
                                        <th scope="col">Status</th>
                                        <th scope="col">Dodano</th>
                                        <th scope="colgroup" colspan="3">Ustawienia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int n = 0;
                                        foreach (var bundle in Model)
                                        {
                                            n++;
                                            string status = bundle.IsActive ? "Aktywny" : "Nieaktywny";
                                            string bundleWarning = "#warningBeforeDeactivate_" + bundle.BundleID;

                                            <tr>
                                                <th scope="row">@n</th>
                                                <td>@bundle.Title</td>
                                                <td>@bundle.BundlePrice</td>
                                                <td>@status</td>
                                                <td>@bundle.CreationDate</td>

                                                @if (bundle.IsActive)
                                                {
                                                    <td>
                                                        <button type="button" class="btn btn-warning">Edytuj</button>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-2 ">
                                                            <button data-toggle="modal" data-target="@bundleWarning" class="btn btn-outline-danger">Dezaktywuj</button>
                                                        </div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td colspan="2">
                                                        <button class="btn btn-outline-dark" href="#"> Zobacz zestaw </button>
                                                    </td>
                                                }

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {

                        <div class="alert alert-light mb-4" role="alert">
                            Nie utworzyłeś jeszcze żadnych zestawów!
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>


@{
    foreach (var bundle in Model)
    {
        string bundleWarning = "warningBeforeDeactivate_" + bundle.BundleID;

        <div class="modal fade" id="@bundleWarning" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            Czy na pewno chcesz dezaktywować zestaw:
                            <br />
                            "@bundle.Title"?
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Pamiętaj, że dezaktywowany zestaw nie zniknie z serwisu.<br />
                            Jego status zostanie zaktualizawny do nieaktywnego.<br />
                            Nie będzie można go kupić, ale nadal będzie można go przeglądać.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie usuwaj</button>
                        <a href="@Url.Action("DeactivateBundle", "UserPanel", new { bundleID = bundle.BundleID })" class="btn-outline-danger btn" title="DeactivateButton">Dezaktywuj</a>
                    </div>
                </div>
            </div>
        </div>
    }
}



