
@model ShopApp.ViewModels.User.AccountViewModel
@{
    if (Session["userId"] == null)
    {
        Response.Redirect("~/User/Login");
    }
    ViewBag.Title = "";
}

@Styles.Render("~/bundles/UserPanel")
@Html.Partial("_SideBar")

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container-accout-edit">
                <div class="view-account">
                    <section class="module">
                        <div class="module-inner">
                            <div class="side-bar">
                                <div class="user-info">

                                    <ul class="meta list list-unstyled">
                                        <li class="name">
                                            @Model.FirstName @Model.LastName
                                        </li>
                                    </ul>
                                </div>
                                <nav class="side-menu">
                                    <ul class="nav">
                                        <li><a href="@Url.Action("EditBasicInfo", "UserPanel")"><span class="fa fa-user"></span> Dane osobowe</a></li>

                                    </ul>
                                    <ul class="nav">
                                        <li><a href="@Url.Action("ShippingAdresses", "UserPanel")"><span class="fas fa-address-book"></span> Adresy wysyłki</a></li>

                                    </ul>
                                    <ul class="nav">
                                        <li class="active"><a href="@Url.Action("EditPassword", "UserPanel")"><span class="fas fa-key"></span> Zmiana hasła</a></li>

                                    </ul>
                                </nav>

                            </div>
                            <div class="content-panel">
                                <form class="form-horizontal" method="post">
                                    <fieldset class="fieldset">
                                        <h3 class="fieldset-title">Zmiana hasła</h3>

                                        <label for="oldPasswordInput">Aktualne hasło</label>
                                        <input type="password" id="oldPasswordInput" name="OldPassword" class="form-control mb-2" required>

                                        <label for="oldPasswordInput">Nowe hasło</label>
                                        <input type="password" id="newPasswordInput" name="NewPassword" class="form-control mb-2" required>

                                        <label for="oldPasswordInput">Powtórz nowe hasło</label>
                                        <input type="password" id="passwordChangeInputValidation" name="NewPasswordValidation" class="form-control mb-2" required>

                                    </fieldset>
                                    <hr>
                                    <div class="form-group">
                                        <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                            <input class="btn btn-dark" type="submit" value="Zmień hasło">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>

</div>
