@model ShopApp.Models.User
@{
    ViewBag.Title = "EditBasicInfo";
}

@Styles.Render("~/bundles/UserPanel")
@Html.Partial("_SideBar")

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container-accout-edit">
                <div class="view-account">
                    <section class="module">
                        <div class="module-inner">

                            @Html.Partial("_SettingsSideBar", Model)

                            <div class="content-panel">
                                @using (Html.BeginForm("EditBasicInfo", "UserPanel", FormMethod.Post))
                                {
                                    <fieldset class="fieldset">
                                        <h3 class="fieldset-title">Dane użytkownika</h3>

                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Imię</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Nazwisko</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">E-mail</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Numer telefonu</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="form-group">
                                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                                <input class="btn btn-dark" type="submit" value="Zmień ">
                                            </div>
                                        </div>
                                    </fieldset>
                                }
                            </div>
                        </div>
                    </section>
                </div>
            </div>


        </div>
    </div>
</div>
