
@model ShopApp.ViewModels.User.AccountViewModel
@{
    ViewBag.Title = "";
}

@Styles.Render("~/bundles/UserPanel")

@Html.Partial("_SideBar")

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container-accout-edit">
                <div class="view-account">
                    <section class="module">
                        <div class="module-inner">
                            <div class="side-bar">
                                <div class="user-info">

                                    <ul class="meta list list-unstyled">
                                        <li class="name">
                                            @Model.FirstName @Model.LastName
                                        </li>
                                    </ul>
                                </div>
                                <nav class="side-menu">
                                    <ul class="nav">
                                        <li class="active"><a href="#"><span class="fa fa-user"></span> Dane osobowe</a></li>

                                    </ul>
                                    <ul class="nav">
                                        <li><a href="@Url.Action("ShippingAdresses", "UserPanel")"><span class="fas fa-address-book"></span> Adresy wysyłki </a></li>

                                    </ul>
                                    <ul class="nav">
                                        <li><a href="@Url.Action("EditPassword", "UserPanel")"><span class="fas fa-key"></span> Zmiana hasła</a></li>

                                    </ul>
                                </nav>

                            </div>
                            <div class="content-panel">
                                @using (Html.BeginForm("EditBasicInfo", "UserPanel", FormMethod.Post))
                                {
                                    <fieldset class="fieldset">
                                        <h3 class="fieldset-title">Dane użytkownika</h3>

                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Imię</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Nazwisko</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Login</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">E-mail</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Numer telefonu</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="form-group">
                                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                                <input class="btn btn-dark" type="submit" value="Zmień ">
                                            </div>
                                        </div>
                                    </fieldset>
                                }
                            </div>
                        </div>
                    </section>
                </div>
            </div>


        </div>
    </div>
</div>
