@model ShopApp.ViewModels.OrderHistoryViewModel

@Styles.Render("~/bundles/UserPanel")
@Styles.Render("~/bundles/Kat")

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
@Html.Partial("_SideBar")

<div class="container pl-1 pt-0 ">

    <div class=" row justify-content-center pl-5 pt-lg-0 pt-4">
        <div class="col-12 mb-2 text-center">
            <div class="btn-group" role="group">
                <button type="button" class="btn switch switch-bought btn-primary on">Kupione</button>
                <button type="button" class="btn switch switch-sold btn-secondary">Sprzedane</button>
            </div>
        </div>
    </div>

    <div class=" row-offer mb-4 mr-1 pl-2 pl-lg-4">

        @* BOUGHT TRANSACTIONS *@
        <div id="boughtDiv" class="">
            <br />
            @{
                foreach (var boughtTransaction in Model.Bought)
                {
                    string transactionStatus = boughtTransaction.IsAccepted ? "Potwierdzona" : "Niepotwierdzona";
                    double transactionSum = 0;
                    foreach (var item in boughtTransaction.BucketItems)
                    {
                        transactionSum += item.TotalPrice * item.Quantity;
                    }

                        <div class="col-12 bought-row pb-4">
                            <div class="row justify-content-center">

                                <div class="col-10 col-lg-2 col-md-2 pl-lg-2 pb-2">
                                    ID: @boughtTransaction.TransactionID
                                </div>
                                <div class="col-10 col-lg-2 col-md-2 pb-2" data-placement="top" title="Dokładna data: @boughtTransaction.CreationDate">
                                    Data: @boughtTransaction.CreationDate.ToShortDateString()
                                </div>
                                <div class="col-10 col-lg-3  col-md-2  pb-2">
                                    Sprzedający: @boughtTransaction.Seller.Login
                                </div>
                                <div class="col-10 col-lg-2 col-md-2  pb-2">Suma: @transactionSum zł</div>
                                <div class="col-10 col-lg-2 col-md-2  pb-4">Status: @transactionStatus</div>
                                <div class="col-3 col-1-lg pb-3">
                                    <a class="btn btn-warning" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="fas fa-chevron-down"></i>
                                    </a>
                                </div>

                            </div>
                            <div class="collapse" id="collapseExample2">
                                <div class="row mr-3 mb-3 mt-5" style="border-bottom-style:solid; border-bottom-width:thin;">

                                    <div class="col-4 pl-2 text-secondary font-weight-bold">
                                        Produkt
                                    </div>
                                    <div class="col-4 text-secondary font-weight-bold">
                                        Zakupiona ilość
                                    </div>
                                    <div class="col-4 text-secondary font-weight-bold">
                                        Cena
                                    </div>

                                </div>


                                @foreach (var boughtItem in boughtTransaction.BucketItems)
                                {
                                    <div class="row pb-3">

                                        @{
                                            double itemPrice = boughtItem.Offer != null ? boughtItem.Offer.Price : boughtItem.Bundle.BundlePrice;
                                            string itemTitle = boughtItem.Offer != null ? boughtItem.Offer.Title : boughtItem.Bundle.Title;
                                        }

                                        <div class="col-3 pl-2">
                                            @itemTitle
                                        </div>
                                        <div class="col-4 pl-2">
                                            @boughtItem.Quantity
                                        </div>
                                        <div class="col-4 pl-0">
                                            @itemPrice.ToString("N2") zł
                                        </div>

                                    </div>
                                }
                            </div>
                            </div>
                            <br />
                            }
                            }
                        </div>

        



             @*SOLD TRANSACTIONS*@ 
            <div id="soldDiv" class="d-none">
                <br />
                @{
                    foreach (var soldTransaction in Model.Sold)
                    {
                        double transactionSum = 0;
                        foreach (var item in soldTransaction.BucketItems)
                        {
                            transactionSum += item.TotalPrice * item.Quantity;
                        }

                        <div class="col-12 sold-row pb-4">
                            <div class="row justify-content-center">

                                <div class="col-10 col-lg-2 col-md-2 pl-lg-2 pb-2 ">
                                    ID: @soldTransaction.TransactionID
                                </div>
                                <div class="col-10 col-lg-2 col-md-2  pb-2" data-placement="top" title="Dokładna data: @soldTransaction.CreationDate">
                                    Data: @soldTransaction.CreationDate.ToShortDateString()
                                </div>
                                <div class="col-10 col-lg-3  col-md-2  pb-2">
                                    Kupujący: @soldTransaction.Seller.Login
                                </div>
                                <div class="col-10 col-lg-2 col-md-2  pb-4">Suma: @transactionSum zł</div>
                                <div class="btn-group">
                                    <button class="btn btn-success"> Akceptuj </button>
                                    <button class="btn btn-danger"> Odrzuć </button>
                                    <a class="btn btn-warning" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="fas fa-chevron-down"></i>
                                    </a>

                                </div>

                            </div>

                            <div class="collapse" id="collapseExample">
                                <div class="row mr-3 mb-3 mt-5" style="border-bottom-style:solid; border-bottom-width:thin;">

                                    <div class="col-4 pl-2 text-secondary font-weight-bold ">
                                        Produkt
                                    </div>
                                    <div class="col-4 text-secondary font-weight-bold">
                                        Ilość
                                    </div>
                                    <div class="col-4 text-secondary font-weight-bold">
                                        Cena
                                    </div>

                                </div>
                                @foreach (var soldItem in soldTransaction.BucketItems)
                                {
                                    <div class="row pb-3">

                                        @{
                                            double itemPrice = soldItem.Offer != null ? soldItem.Offer.Price : soldItem.Bundle.BundlePrice;
                                            string itemTitle = soldItem.Offer != null ? soldItem.Offer.Title : soldItem.Bundle.Title;
                                        }

                                        <div class="col-4 pl-2">
                                            @itemTitle
                                        </div>
                                        <div class="col-4">
                                            @soldItem.Quantity
                                        </div>
                                        <div class="col-4 pl-0">
                                            @itemPrice.ToString("N2") zł
                                        </div>

                                    </div>

                                }
                            </div>
                        </div>


                        <br />
                    }
                }
            </div>
        </div>




        @section scripts
{
            <script src="~/Scripts/OrderHistoryScript.js"></script>
        }
