@model IEnumerable<ShopApp.Models.Bundle>

<p>
    @Html.ActionLink("Create new", "BundleCreate", new { id = Model.Select(i => i.User.UserID).FirstOrDefault() }) |
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BundleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BundlePriceSum)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <th>
        @Html.DisplayFor(modelItem => item.BundleID)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BundlePriceSum)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.BundleID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.BundleID })
    </td>
</tr>
}

</table>
