@{
    ViewBag.Title = "Successful register";
}

<h2>You have been registered!</h2>

@*<strong>User ID</strong> : @ViewData["UserID"]
    <br />
    <strong>FirstName</strong> : @ViewData["FirstName"]
    <br />
    <strong>LastName</strong> : @ViewData["LastName"]
    <br />
    <strong>BirthDate</strong> : @ViewData["BirthDate"]
    <br />
    <strong>Login</strong> : @ViewData["Login"]
    <br />
    <strong>EncryptedPassword</strong> : @ViewData["EncryptedPassword"]
    <br />
    <strong>Email</strong> : @ViewData["Email"]
    <br />
    <strong>Phone</strong> : @ViewData["Phone"]
    <br />
    <strong>CreationDate</strong> : @ViewData["CreationDate"]
    <br />
    <strong>Phone</strong> : @ViewData["Country"]
    <br />
    <strong>CreationDate</strong> : @ViewData["City"]
    <br />*@
