@model IEnumerable<IGrouping<ShopApp.Models.User, ShopApp.Models.BucketItem>>

@Styles.Render("~/bundles/Bucket")

<div class="row bucket-header text-center mx-auto">
    <div class="col-12">
        <h1 class="my-lg-4 my-2 mt-4">Twój koszyk</h1>
        <hr />
    </div>
</div>

<div class="bucket mb-2 mx-auto">
    <div class="items">
        @if (ViewBag.NotEveryBucketCouldHaveBeenSold != null && ViewBag.PleaseContactWithSupport != null)
        {
        <div>
            <p class="alert-danger m-0 p-2 text-center"> 
            @ViewBag.NotEveryBucketCouldHaveBeenSold
            <br />
            @ViewBag.PleaseContactWithSupport
            </p>
        </div>
        }
        <form method="post">

            @foreach (var Seller in Model)
            {
            <div class="items-group shadow mt-3 selected" selected>
                <div class="row items-header p-3">
                    <div class="col-1 my-auto bucket-items-checkbox">
                        <input type="checkbox"
                               name="SelectedSeller_@Seller.Key.Login" checked />
                    </div>
                    <div class="col-10 items-seller">
                        <p class="m-0">od: <a href="@Url.Action("UserInformation","User", new { UserId = Seller.Key.UserID})" class="seller-name">@Seller.Key.Login</a></p>
                    </div>
                </div>



                @foreach (var item in Seller)
                {
                    if (item.Offer != null)
                    {
                        <div class="row item justify-content-around align-items-baseline text-center p-3 pt-0">
                            <div class="col-12 mt-0 pt-0">
                                <hr>
                            </div>
                            <div class="col-1 item-delete" data-id="@item.Offer.OfferID" data-type="Offer">
                                <i class="fas fa-times"></i>
                            </div>
                            <div class="col-6 col-lg-3 item-image">
                                <img class="img-fluid" src="@item.Offer.OfferPictures.First().PathToFile">
                            </div>
                            <div class="col-4 col-lg-3 item-name">
                                <a href="@Url.Action("Index", "Offer", new { OfferID = @item.Offer.OfferID })">@item.Offer.Title</a>
                            </div>
                            <div class="col-1 m-1 d-lg-none"></div>
                            <div class="col-6 col-lg-3 item-quantity pt-3 pt-lg-0">
                                <input name="Offer_quantity_@item.BucketItemID" type="number" value="@item.Quantity" min="1" max="@item.Offer.InStockNow">
                            </div>
                            <div class="col-4 col-lg-2 item-price pt-3 pt-lg-0">
                                <p class="total-price m-0">@item.TotalPrice zł</p>
                                <p class="price m-0 d-none">@item.Offer.Price zł za sztukę</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row item justify-content-around align-items-baseline text-center p-3 pt-0">
                            <div class="col-12 mt-0 pt-0">
                                <hr>
                            </div>
                            <div class="col-1 item-delete" data-id="@item.Bundle.BundleID" data-type="Bundle">
                                <i class="fas fa-times"></i>
                            </div>
                            <div class="col-5 col-lg-3 item-image">
                                <img class="img-fluid" src="@item.Bundle.Offers.First().OfferPictures.First().PathToFile">
                            </div>
                            <div class="col-5 col-lg-3 item-name">
                                <a href="@Url.Action("Bundle", "Offer", new { BundleID = item.Bundle.BundleID })">@item.Bundle.Title</a>
                            </div>
                            <div class="col-1 m-1 d-lg-none"></div>
                            <div class="col-5 col-lg-3 item-quantity pt-3 pt-lg-0">
                                ZESTAW
                            </div>
                            <div class="col-5 col-lg-2 item-price pt-3 pt-lg-0">
                                <p class="total-price m-0">@item.Bundle.BundlePrice zł</p>
                            </div>
                            <input type="hidden" name="Bundle_quantity_@item.BucketItemID" value="1" />
                        </div>
                        <hr>
                    }
                }
            </div>
            }
            <div class="row bucket-summary justify-content-center text-center shadow m-0 mt-4 mb-4 p-2">
                <div class="col-12">
                    <p class="bucket-price-header m-0">Razem do zapłaty:</p>
                    <p class="bucket-price m-0"><span class="bucket-price-amount">1500 zł</span> + dostawa</p>
                    @if (ViewBag.UserHasNoShippingAddress != null)
                    {
                        <div>
                            <p class="alert-danger m-2"> @ViewBag.UserHasNoShippingAddress </p>
                            <a type="button" class="addAddress" href="@Url.Action("AddShippingAdress","UserPanel")">Dodaj Adres!</a>
                        </div>
                    }
                    @if (ViewBag.BucketItemsCountZero != null)
                    {
                        <div>
                            <p class="alert-danger m-0"> @ViewBag.BucketItemsCountZero </p>
                        </div>
                    }
                    @if (ViewBag.UserIsNotActivated != null)
                    {
                        <div>
                            <p class="alert-danger m-0"> @ViewBag.UserIsNotActivated </p>
                        </div>
                    }
                </div>

                <div class="col-12 p-2">
                    <input type="submit"
                           value="DO KASY"
                           class="cashout-button p-3" />
                </div>
                <div class="col-12 p-2">
                    <a href="@Url.Action("Index","Home")" type="button" class="continue-button p-3">KONTYNNUJ ZAKUPY</a>
                </div>
            </div>
        </form>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
@Scripts.Render("~/bundles/BucketAndFavjs")
@Scripts.RenderFormat("<script type=\"text/javascript\" charset=\"utf-8\" src=\"{0}\"></script>", "~/bundles/Bucketjs")
