@model ShopApp.ViewModels.OffersAndBundles

@Styles.Render("~/bundles/Kat")


<div class="row offers-header text-center mx-auto">
    <div class="col-12">
        <h1 class="my-lg-4 my-2">
            Ulubione
        </h1>
        <hr>
    </div>
</div>
<div class="row offers p-2 mb-3 mx-lg-auto justify-content-center">
    <div class="col-12 col-lg-6 offers-main m-lg-2 shadow p-3">
        <div class="col-12 mb-2 text-center">
            <div class="btn-group" role="group">
                <button type="button" class="btn switch switch-offer btn-primary on">Oferty</button>
                <button type="button" class="btn switch switch-bundle btn-secondary">Zestawy</button>
            </div>
        </div>



        @foreach (var item in Model.Offers)
        {
    <div class="row offer item-row p-2 m-0">
        <hr class="w-100">
        <div class="col-12 col-lg-4 text-center offer-img my-auto text-center">
            <img class="img-fluid" src="@item.OfferPictures.First().PathToFile">
        </div>
        <div class="col-12 col-lg-8 offer-desc">
            <h3><a class="product-name" href="@Url.Action("Index","Offer",new { OfferID = item.OfferID})">@item.Title</a></h3>
            <p class="seller d-none d-lg-block mb-2">sprzedawca: <a class="seller-name" href="#">@item.User.Login</a></p>
            <h3 class="product-price mb">@item.Price zł</h3>
            <p class="offer-count d-none d-lg-block pb-3">dostępne: @item.InStockNow z @item.InStockOriginaly</p>
            <br>
            @if (Model.InBucketOffersIDs != null && Model.InBucketOffersIDs.Contains(item.OfferID))
            {
                <a class="addToBucket in-bucket" data-type="Offer" id="@item.OfferID">OFERTA ZNAJDUJE SIĘ W KOSZYKU</a>
            }
            else
            {
                <a class="addToBucket" data-type="Offer" id="@item.OfferID">DODAJ DO KOSZYKA</a>
            }
            <i class="fas fa-heart fa-fw product-fav fav-active" data-type="Offer" id="@item.OfferID"></i>
        </div>
    </div>
        }




        @foreach (var item in Model.Bundles)
        {
    <div class="row bundle-row offer p-2 m-0 d-none">
        <hr class="w-100">
        <div class="col-12 col-lg-4 offer-img my-auto text-center">
            <img class="img-fluid" src="@item.Offers.First().OfferPictures.First().PathToFile">
        </div>
        <div class="col-12 col-lg-8 offer-desc">
            <h3><a class="product-name" href="#">@item.Title</a></h3>
            <p class="seller d-none d-lg-block">sprzedawca: <a class="seller-name" href="#">@item.User.Login</a></p>
            <s><h3 class="product-price mb-1">@item.OffersPriceSum zł</h3></s>
            <h3 class="product-price mb-4">@item.BundlePrice zł</h3>
            <br>
            @if (Model.InBucketOffersIDs != null && Model.InBucketOffersIDs.Contains(item.BundleID))
            {
                <a class="addToBucket in-bucket" data-type="Offer" id="@item.BundleID">OFERTA ZNAJDUJE SIĘ W KOSZYKU</a>
            }
            else
            {
                <a class="addToBucket" data-type="Offer" id="@item.BundleID">DODAJ DO KOSZYKA</a>
            }
            <i class="fas fa-heart fa-fw product-fav fav-active" data-type="Bundle" id="@item.BundleID"></i>
        </div>
    </div>
        }







        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        @Scripts.Render("~/bundles/BucketAndFavjs")
        @Scripts.Render("~/bundles/Favouritejs")
    </div>
</div>