<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zakupowo</title>
    <!-- BOOTSTRAP CSS -->
    @Styles.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery351")

    @Scripts.Render("~/bundles/bootstrapjs")
    <!--Custom CSS-->
    @Styles.Render("~/bundles/Layout")
    <script type="text/javascript" src="~/Scripts/Scripts.js"></script>
    <!--FontAwesomeCDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!--GoogleFonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Staatliches&display=swap" rel="stylesheet">

    <!--TODO: SEO-->
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-white justify-content-between">
        <a class="nav-item active navbar-brand " href="@Url.Action("Index", "Home")">
            <i class="fas fa-shopping-bag" style="color:white"></i> Zakupowo 
         
        </a>
        <button class="col-2 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-lg-4 order-lg-8" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link mx-4" id="chatLink" href="@Url.Action("AccountMessage", "userpanel")"><i class="fas fa-envelope fa-fw mx-auto"></i><p class="d-inline-block d-lg-none ml-1">Wiadomości</p></a>

                </li>
                <li class="nav-item">
                    <a class="nav-link mx-4" id="favouriteLink"><i class="fas fa-heart fa-fw mx-auto"></i><p class="d-inline-block d-lg-none ml-1">Ulubione</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-4" id="cartLink"><i class="fas fa-shopping-cart fa-fw mx-auto"></i><p class="d-inline-block d-lg-none ml-1">Koszyk</p></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link mx-4 dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user fa-fw mx-auto"></i><p class="d-inline-block d-lg-none ml-1">Konto</p><i class="fas fa-sort-down ml-1 ml-lg-0"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mt-lg-2 text-center animate slideIn" aria-labelledby="navbarDropdownMenuLink">
                        <p class="p-2 d-none d-lg-block">
                            Zaloguj się i zobacz swoje zakupy, ulubione oferty oraz wiadomości. W Domu Aukcyjnym zakupy są łatwe!
                        </p>
                        <a class="dropdown-item" id="logInItem" href="@Url.Action("Login", "user")">Zaloguj się</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Register", "user")">Zarejestruj się</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Account", "userpanel")">Panel użytkownika</a>
                    </div>
                </li>
            </ul>
        </div>

        <!-- SEARCH FORM -->
        <form class="form-inline col-lg-4" id="searchForm">
            <div class="input-group mt-2 mt-lg-0 w-100">
                <input type="search" class="form-control product-search" placeholder="Szukaj produktu..." aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="searchButton" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>

    <!-- TODO: CONTAINER-FLEX-->
    <div class="container" style="position:relative; margin-top:200px;">
        @RenderBody()
    </div>

    <footer>
        <div class=" footer text-center">
            <div class="col-12 my-auto">
                ©2020 website created for educational purpose
            </div>
        </div>
    </footer>


</body>
</html>
