@Styles.Render("~/bundles/Categories")
<div class="categories shadow mx-auto mt-4 mb-3">
    <div class="row text-center categories-header m-0 py-2">
        <div class="col-12 mb-2">
            <h1>Kategorie</h1>
        </div>
    </div>
    <div class="row categories-row text-center m-0 justify-content-around justify-content-lg-center">
        <div class="col col-4 col-lg-1 p-0 m-lg-2">
            <a href="~/Home/Kat/?KatID=1">
                <i class="fas fa-laptop fa-fw"></i>
                <p>Elektronika</p>
            </a>
        </div>
        <div class="col col-4 col-lg-1 p-0 m-lg-2">
            <a href="~/Home/Kat/?KatID=2">
                <i class="fas fa-tshirt fa-fw"></i>
                <p>Moda</p>
            </a>
        </div>
        <div class="col col-4 col-lg-1 p-0 m-lg-2">
            <a href="~/Home/Kat/?KatID=3">
                <i class="fas fa-seedling fa-fw"></i>
                <p>Ogród</p>
            </a>
        </div>
        <div class="col col-4 col-lg-1 p-0 m-lg-2">
            <a href="~/Home/Kat/?KatID=4">
                <i class="fas fa-home fa-fw"></i>
                <p>Dom</p>
            </a>
        </div>
        <div class="col col-4 col-lg-1 p-0 m-lg-2">
            <a href="~/Home/Kat/?KatID=5">
                <i class="fas fa-shopping-basket fa-fw"></i>
                <p>Supermarket</p>
            </a>
        </div>
        <div class="col col-4 col-lg-1 p-0 m-lg-2">
            <a href="~/Home/Kat/?KatID=6">
                <i class="fas fa-car fa-fw"></i>
                <p>Motoryzacja</p>
            </a>
        </div>
        <div class="col col-4 col-lg-1 p-0 m-lg-2">
            <a href="~/Home/Kat/?KatID=7">
                <i class="fas fa-futbol fa-fw"></i>
                <p>Sport i turystyka</p>
            </a>
        </div>
            <div class="col col-4 col-lg-1 p-0 m-lg-2">
                <a href="~/Home/Kat/?KatID=8">
                    <i class="fas fa-dog fa-fw"></i>
                    <p>Zwierzęta</p>
                </a>
            </div>
            <div class="col col-4 col-lg-1 p-0 m-lg-2">
                <a href="~/Home/Kat/?KatID=9">
                    <i class="fas fa-baby fa-fw"></i>
                    <p>Dla dziecka</p>
                </a>
            </div>
            <div class="col col-4 col-lg-1 p-0 m-lg-2">
                <a href="~/Home/Kat/?KatID=10">
                    <i class="fas fa-palette fa-fw"></i>
                    <p>Sztuka</p>
                </a>
            </div>
            <div class="col col-4 col-lg-1 p-0 m-lg-2">
                <a href="~/Home/Kat/?KatID=11">
                    <i class="fas fa-city fa-fw"></i>
                    <p>Nieruchomości</p>
                </a>
            </div>
            <div class="col col-4 col-lg-1 p-0 m-lg-2">
                <a href="~/Home/Kat/?KatID=12">
                    <i class="fas fa-plus-square fa-fw"></i>
                    <p>Zdrowie</p>
                </a>
            </div>
            <div class="col col-4 col-lg-1 p-0 m-lg-2">
                <a href="~/Home/Kat/?KatID=13">
                    <i class="fas fa-blender fa-fw"></i>
                    <p>RTV i AGD</p>
                </a>
            </div>
            <div class="col col-4 col-lg-1 p-0 m-lg-2">
                <a href="~/Home/Kat/?KatID=14">
                    <i class="fas fa-barcode fa-fw"></i>
                    <p>Inne</p>
                </a>
            </div>
        </div>
    </div>


    @*
        <div style="height: 30px;">
            <div style="width:100%;   padding-bottom:40px;">
                <select name="cars" id="cars" value="Kategorie">
                    @for (int i = 0; i < Model.CategoryList.Count; i++)
                    {
                        <option value="@(i+1)">@Model.CategoryList[i].CategoryName</option>
                    }
                </select>
            </div>
        </div>
    *@




    @* PARTIAL VIEW DLA OFERT
        <div class="d-flex justify-content-center flex-wrap">
            @{
                List<ShopApp.Models.Offer> offers = Model.OfferList.ToList();

                for (int i = 0; i < offers.Count; i++)
                {
                    ShopApp.Models.Offer show = offers[i];
                    string pictureUrl = string.Empty;
                    if (show.OfferPictures != null && show.OfferPictures.Count > 0)
                    {
                        System.Diagnostics.Debug.WriteLine("Oferta nr: " + (i + 1) + "\tZdjęć: " + show.OfferPictures.Count);
                        pictureUrl = show.OfferPictures.ToList()[0].PathToFile;
                    }
                    else
                    {
                        pictureUrl = @"..\..\App_Files\Images\OfferPictures\DefaultOfferPicture.jpg";
                    }

                    System.Diagnostics.Debug.WriteLine(pictureUrl);

                    <a href="Offer/?OfferId=@show.OfferID">
                        <div class="offer-box">
                            <img class="img-fluid rounded" style="height:50%;" src="@pictureUrl" />
                            <h2>@show.Title</h2>
                            <p>@show.Description</p>
                        </div>
                    </a>
                }
            }*@



