@model ShopApp.ViewModels.User.AccountViewModel
@{
    ViewBag.Title = "Witaj "+Model.FirstName + "!";
}
<h2>@ViewBag.Title</h2>

<nav class="nav-account">

    <div class="container">

        <div class="nav-links">
            @Html.ActionLink("Ustawienia", "AccountEdit", "User", new { area = "" }, new { @class = "nav-links" })
            @Html.ActionLink("Historia zamówień", "AccountOrderHistory", "User", new { area = "" }, new { @class = "nav-links" })
            @Html.ActionLink("Korespondencja", "", "", new { area = "" }, new { @class = "nav-links" })
            @Html.ActionLink("Dodaj produkt", "AccountAddProduct", "User", new { area = "" }, new { @class = "nav-links" })
            @Html.ActionLink("Wystawione oferty", "", "", new { area = "" }, new { @class = "nav-links" })
            @Html.ActionLink("Wyloguj", "Index", "Home", new { area = "" }, new { @class = "nav-links" })

        </div>

    </div>

</nav>


<div class="account">

    <div class="profile-img">
        <img src="~/Images/user.jpg" width="120px" height="120px" />
    </div>

    <div class="account-info">
        <div class="profile-head">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                </li>
            </ul>
        </div>


    </div>
    <div class="wrapper">
        <div class="box a" >Imię i nazwisko</div>
        <div class="box b" style="border-right: none;">@Model.FirstName @Model.Surname</div>
        <div class="box d">E-mail</div>
        <div class="box e" style="border-right: none;"> @Model.Email</div>
        <div class="box f">Telefon</div>
        <div class="box f" style="border-right: none;">@Model.PhoneNumber</div>
        <div class="box e">Miato</div>
        <div class="box f" style="border-right: none;">@Model.City</div>
        <div class="box f">Ulica</div>
        <div class="box f" style="border-right: none;"> @Model.Street</div>
        <div class="box f">Numer ulicy</div>
        <div class="box e" style="border-right: none;"> @Model.StreetNumber</div>
        <div class="box f">Kod pocztowy</div>
        <div class="box f" style="border-right: none;"> @Model.Postcode</div>

    </div>


</div>

           
