@model ShopApp.Models.User

@Styles.Render("~/bundles/LoginAndRegistration")


<div class="row justify-content-center text-center">
    <div class="col-12 col-md-8 col-lg-5 col-xl-4 absolute m-5 m-lg-0">
        <form id="signinForm" name="signinForm" method="post" class="signinForm shadow p-5 m-2 bg-white rounded">
            <i class="fas fa-shopping-bag formlogo mb-2"></i>
            <h2 class="mb-4">
                Logowanie
            </h2>
            <label for="emailAddressInput" class="sr-only">Adres email</label>
            <input id="emailAddressInput" name="UserIdenticator" class="form-control mb-2" placeholder="Adres email lub login" required autofocus>
            @*<div id="emailAddressInput_validation" class="invalid-feedback d-block text-left"></div>*@
            @*<div> @Html.ValidationMessageFor(Model => Model.Email)</div>*@
            <label for="password" class="sr-only">Hasło</label>
            <input type="password" id="passwordInput" name="EncryptedPassword" placeholder="Hasło" class="form-control mb-2" required>
            <div id="passwordInput_validation" class="invalid-feedback d-block text-left"></div>
            @*<div>  @Html.ValidationMessageFor(Model => Model.EncryptedPassword)</div>*@


            <label><input type="checkbox" id="rememberMeInput" name="rememberMeInput" value="rememberMe"> Zapamiętaj mnie</label>
            <hr class="mt-1" />
            <input type="submit" name="signinInput" value="Zaloguj się" class="bt btn-lg btn-primary btn-block mt-1 mb-1">

            <a href="@Url.Action("PreRestorePassword","User")">Zapomniałeś hasła?</a>
            <p>Nie masz konta? <a href="@Url.Action("Register", "User")">Zarejestruj się</a></p>

            <div class="messages-box h5">
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                }
            </div>
        </form>
    </div>
</div>

@Scripts.Render("~/Scripts/Userjs")